@import "~/node_modules/bootstrap/scss/functions";
@import "~/node_modules/bootstrap/scss/variables";
@import "~/node_modules/bootstrap/scss/mixins";

$bgColor: var(--bgColor);

body {
    font-family: Whitney-Book-Pro,Arial,Helvetica,sans-serif;
}

.top-color-bg {
    background-color: $bgColor;
    // @include media-breakpoint-down(md) { 
    //     background-color: var(--blue);
    // }
}
.btn-outline-secondary {
    color: $white;
    border-color: $white;
    &:hover, &:after, &:active {
        border-color: #6c757d;
    }
}
.custom-element {
    color: tint-color($primary, 10%);
  }

  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  
      .dropdown-menu#{$infix}-start {
        --bs-position: start;
  
        &[data-bs-popper] {
          right: auto;
          left: 0;
        }
      }
  
      .dropdown-menu#{$infix}-end {
        --bs-position: end;
  
        &[data-bs-popper] {
          right: 0;
          left: auto;
        }
      }
    }
  }